.header {
  width: 100%;
  .header__itm {
    width: 100%;
    padding: 23px 165px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .header__itm--hamburg {
      display: none;
    }
    .header__itm--menu {
      list-style: none;
      display: flex;
      margin-left: 57px;
      li {
        padding: 5px 7px;
        a {
          text-decoration: none;
          font-family: 'Space mono',sans-serif;
          color: $dim-grey ;
          text-transform: capitalize;
          font-size: 15px;
          transition: 0.3s ease;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
    .header__itm--btn {
      margin-left: auto;
      @include btns;
      transition: 0.3s ease;
      &:hover {
        background-color: white;
        color: $yellow;
      }
    }
  }
}

/* tablet */ 
@media only screen and (max-width:768px) {
  .header {
    width: 100%;
    .container {
      max-width: 768px;
      margin: 0 auto;
      .header__itm {
        padding: 0 39px;
      }
    }
  }
}

/* phone */ 
@media only screen and (max-width:375px) {
  .header {
    width: 100%;
    .container {
      max-width: 375px;
      margin: 0 auto;
      .header__itm {
        width: 100%;
        padding: 23px 31px;
        .header__itm--hamburg {
          display: block;
        }
        .header__itm__logo {
          margin: 0 auto;
        }
        .header__itm--menu {
          display: none;
        }
        .header__itm--btn {
          display: none;
        }
      }
    }
  }
}