.hero {
  width: 100%;
  .hero__itm {
    width: 100%;
    padding: 73px 165px 155px 165px;
    background-image: linear-gradient(#2f3b59be),url("./../image/bitmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    .hero-box {
      max-width: 555px;
      .hero-box--heading {
        font-family:'Space Mono',monospace;
        font-weight: 700;
        font-size: 55px;
        color: white;
        margin-bottom: 39px;
      }
      .hero-box--title {
        padding-left: 91px;
        margin-bottom: 55px;
        font-family: 'Lexend Deca';
        color: white;
        line-height: 1.5em;
        font-size: 15px;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          width: 203px;
          height: 15px;
          background-image: url("./../image/line1.svg");
          position: absolute;
          left: -29%;

        }
        &::after {
          content: "";
          display: inline-block;
          width: 447px;
          height: 138px;
          background-image: url("./../image/line2.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          top: 33%;
          right: -89%;
        }
      }
      .hero-box--btn {
        margin: 0 91px;
        @include btns;
      }
    }
  }
}



@media only screen and (max-width:768px) {
 
}